---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import Hero from '../components/Hero.astro';
import Dor from '../components/Dor.astro';
import ParaQuem from '../components/ParaQuem.astro';
import Bonus from '../components/Bonus.astro';
import QuemSomos from '../components/QuemSomos.astro';
import Oferta from '../components/Oferta.astro';
import StickyCta from '../components/StickyCta.astro';
import BackToTop from '../components/BackToTop.astro';
import Compartilhar from '../components/Compartilhar.astro';
import Footer from '../components/Footer.astro';
import LegalModals from '../components/LegalModals.astro';
---

<Layout>
  <TopBar />
  <main>
    <Hero />
    <Dor />
    <ParaQuem />
    <Bonus />
    <QuemSomos />
    <Oferta />
  </main>
  <StickyCta />
  <BackToTop />
  <Compartilhar />
  <Footer />
  <LegalModals />
</Layout>
